$liteBrown: rgb(160, 0, 0);
$grey: #808080;
$liteBlue: #ADD8E6;
$s: #8a3ab9;
$shadow: 0 0 30px 5px #aaa;


footer {
    width: 100vw;
    height: 120px;
    background-color: $grey;
    color: #fff;
    position: relative;
    p {
        position: absolute;
        bottom: 10px;
        right: 20px;
        font-size: 10px;
    }
}

.footer_logo_link {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    h3 {
        margin-left: 20px;
        color: #000;
    }
}

.footer_wrapper {
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_nav_list {
    list-style: none;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.footer_nav_list_item {
    width: 200px;
    margin: 5px 0;
}

.footer_nav_link {
    width: 200px;
    padding: 5px 10px 5px 0;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    &:hover {
        border-bottom: 1px solid #fff;
    }
}
